[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = \"C:\\Users\\User\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[gui]
	recentrepo = C:/Users/User/Git
[user]
	name = @c1910475092
	email = rabia.alaca@stud.fh-campuswien.ac.at
